.message{
    grid-area: message;
    display:grid;
    grid-template-areas: 'avatar nameAuthor time' 'avatar textMessages textMessages ' ;
    grid-template-rows: 60px 20px 40px;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 1px;*/
}

.avatar{
    grid-area: avatar;
    width: 70px;
    border-radius: 50px;
}

.nameAuthor{
    grid-area: nameAuthor;
}
.textMessages{
    grid-area: textMessages;
}

.time{
    grid-area: time;
}