.friendsPost{
    padding-top:1vh ;
    padding-left: 0.5vw;
}
.avatar {
    width: 5vh;
    height: 5vh;
    border-radius: 100px
}
.name {
    font-size: 15px;
    text-align: center;
    color:white;
}