.postAdd{
    display: grid;
    grid-template-areas:'inputText inputBtn';
    grid-template-columns: 9fr 2fr;
    padding-left: 10em;
}
.inputText{
    grid-area: inputText;
}

textarea{
    width: 100%;

}
.inputBtn{
    grid-area: inputBtn;
}
button{
    width: 100%;
}