.message{
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 1fr ;
    padding: 20px;
    text-align: right;

}
.avatar{
    width: 5vh;
    height: 5vh;
    border-radius: 100px
}


.textMessage{
    font-size: 20px;
    text-align: right;
}